{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home page</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Dateparution</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Publie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.titre }}</td>
                <td>{% if article.dateParution %}{{ article.dateParution|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ article.auteur }}</td>
                <td>{{ article.contenu }}</td>
                <td>{% if article.publie %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
