{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etiquettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etiquette in etiquettes %}
            <tr>
                <td><a href="{{ path('etiquette_show', { 'id': etiquette.id }) }}">{{ etiquette.id }}</a></td>
                <td>{{ etiquette.titre }}</td>
                <td>{{ etiquette.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etiquette_show', { 'id': etiquette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etiquette_edit', { 'id': etiquette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etiquette_new') }}">Create a new etiquette</a>
        </li>
    </ul>
{% endblock %}
